*{
    margin: 0;
    padding: 0;
    font-family: 'inter' , sans-serif;
}

body {
    background-color: #f4f4fc;
}

header{
    width: 100%;
    height: 70px;
}

.logo {
width: 100px;
height: 50px;
padding-top: 20px;
padding-left: 40px;
}

main{
position: absolute;
width: 100%;
height: 90%;
display: flex;
justify-content: space-between;

}

.contenedorcajatexto {
    position: absolute;
    left: 200px;
    top: 100px;
    padding-left: 100px;
    width: 1080px;
    height: 600px;

}

.cajatexto{
    width: 70%;
    height: 95%;
    border: none;
    background-color: #f4f4fc;
    cursor: pointer;
    color: #0A3871;
    font-size: 32px;
    font-weight: 400;
    font-family:'inter' , sans-serif;
    margin-left: -50px;

}

.cajatexto::placeholder {
    color: #0A3871;
}

.alerta {
    position: absolute;
    top: 750px;
    left: 370px;
    display: flex;
    color: #495057;
}

.botones{
    position: absolute;
    top: 800px;
    height: 80px;
    padding-left: 15%;
    padding-top: 15px;
}

.boton-encriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #0A3871;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'inter' , sans-serif;
    border: none;
    margin-right: 20px;
    cursor: pointer;

}

.boton-Desencriptar {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #d8dfe8;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'inter' , sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
}
.section-2 {
    display: block;
    position: relative;
    width: 400px;
    height: 800px;
    right: 400px;
    padding-right: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.50);
}

.muneco{
    left: 30px;
    top: 180px;
    box-sizing: border-box;
    padding-top: 50px;
    

}
.Parrafo{
    position: absolute;
    box-sizing: border-box;
    top: 500px;
    left: 40px;
    text-align: center;
    
}
.resultado{
    position: absolute;
    bottom: 325px;
    width: 320px;
    height: 450px;
    padding: 0;
    box-sizing: border-box;
    margin-left: 25px;
    text-align: left;

}
.resultado-texto{
    color: #495057;
    font-size: 25px;
}

.boton-copiarStyle {
    display: flex;
    position: absolute;
    bottom: 300px;
    top: 600px;
    background-color: none;
    padding-left: 40px;
    

}

.boton-copiar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #ffffff;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'inter' , sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    position: relative;
    top: 100px;
    right: 4px;

}

.ocultar{
    display: none;
}


